<?xml version="1.0" encoding="UTF-8"?>

<suite name="samplesuite">
<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
	<test name="sampletest">
	<classes>
		<class name="com.testpakage.FirstClassTest"/>			
		<class name="com.testpakage.SecondclassTest"/>
	</classes>
	</test>
 
</suite> 
